@model TestTaskContacts.VeiwModels.Models.ContactViewModel

<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    @await Html.PartialAsync("_Modal", Model)
</div>

<script src="~/js/update.js" defer></script>